body{
  margin: 0;
  padding: 0;
  color: #333333;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
display: relative;
}



#title {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
/*  paddingpx;
*/  color: grey;
}
#headshot{
height: 800px;
display: inline-block;
float: left;

}

#headshot img {
  width:auto; /*width of your image*/
   height: 250px;
   margin:25px; /* If you want no margin */
   padding:25px; /*if your want to padding */

}

#nav{
  background-color: white;
 /* border: 1px solid #ccc;
  border-width: 1px 0;*/
  width: 100%;
  margin: 0;
  text-align: center;

}

#nav ul{
padding-top: 10px;
padding-bottom: 10px;
}

#nav li{
padding: 20px;
display: inline;
}

#nav a{
display: inline-block;
padding: 10px;
color: grey;
text-decoration: none;
}

ul{
list-style: none;
}

/*#left_box{
position:relative;
display: inline-block;
vertical-align: top;
padding-top: 40px;
}
#left_box span{
display: block
}*/

.bold{
font-weight: bold;
font-style: italic;
color: #AD094D;
}
#holder{
position: relative;
padding-top: 50px;
padding-left: 100px;
font-size: 2em;
/*color: grey;
font-weight: bold;
font-style: italic;*/
display: inline-block;
vertical-align: top;
margin-left: 100px;
/*margin-right: auto;*/
}


#holder span{
display: inline-block;
}

/*#holder img{
   width:600px; width of your image
   margin-top: 10px;  If you want no margin
}
*/

#clearwrap{
  padding-bottom: 100px;
}

#blogs{
  font-weight: bold;
  padding-top: 25px;

}

#blogs span{
  color: grey;
  font-size: 12px;
  font-weight: lighter;
  display: block;
}

.wrap{
position: relative;
margin: 0 auto;
width: 900px;
height: 60px;
}

#footer{
background-color: grey;
position: fixed;
bottom: 0em;
z-index: 999999;
width: 100%;
/*float:left;
*/display: block;
text-align: center;
margin: 0em ;

}

#footer li{
display: inline-block;
padding: 0px;
float: none;
padding-left: 20px;
padding-right: 20px;
}

#footer img{
  height: 45px;
  width: auto;
}

